.ipynb_checkpoints
__pycache__
processed
raw
dataset

lec2/processed/*
lec2/raw/*

lec3/dataset
lec3/checkpoint.pth.tar

lec4/processed/*
lec4/raw/*

lec5/processed/*
lec5/raw/*

lec6/stage1_test
lec6/stage1_train

lec7/processed/*
lec7/raw/*

lec11/processed/*
lec11/raw/*
lec11/__pycache__

lec12/img
